@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: "Roboto", sans-serif;
}
.font-playwrite{
    font-family: "Playwrite CU", cursive;
}
.active {
  color: brown;
  font-weight: 700;
}

.dashboard{
  display: grid;
  grid-template-columns: 250px 1fr;
  height: 100vh;
}

.ss.active{
  color: brown;
  background-color: rgb(243, 244, 246);
}

.bgBanner{
  background: url("/public/mjhjh.png");
  width: full;
  height: 600px;
  background-size: cover;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin: 20px auto;
}
.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}
